body {
	font-family: 'Radley', serif;
	background-color: #444444;
	color: #FFFFFF;
	line-height: 1.5;
	font-size: 18px;
}

.container {
	max-width: 768px;
	margin: auto;
}

#banner a {
	color: #FFFFFF;
}

#banner a:hover {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #FFBD70;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
}

.byline {
	color: #CCCCCC;
}