body {
	font-family: 'Radley', serif;
	background-color: #444444;
	color: #FFFFFF;
}

.container {
	width: 720px;
	margin: auto;
}

#banner a {
	color: #FFFFFF;
}

a {
	text-decoration: none;
	color: #FFBD70;
}