body {
	font-family: 'Gentium Book Basic', serif;
	background-color: #ffffff;
	color: #657b83;
	line-height: 1.5;
	font-size: 18px;
}

#disqus_thread {
	margin-top: 50px;
}

.container {
	max-width: 768px;
	margin: auto;
}

h1, h2, h3 {
	font-family: 'Roboto Slab', sans-serif;
}

h1 {
	font-weight: 700;
}

h2, h3 {
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #268bd2;
}

a:hover {
	text-decoration: underline;
}

#banner {
	letter-spacing: 1px;
}

#banner a {
	color: #cb4b16;
}

#banner a:hover {
	text-decoration: none;
}

h2.entry-title > a {
	color: #b58900;
}

img {
	max-width: 100%;
}

.byline {
	color: #93a1a1;
}

hr {
	border-style: none;
	margin-bottom: 50px;
}

footer {
	font-style: italic;
}

#about {
	font-style: normal;
	font-size: 13px;
}
